* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    overflow: hidden;
}

.hero {
    width: 95%;
    height: 100vh;
    background: linear-gradient(45deg, #282562, #242274);
    margin: 0;
    padding: 0;
    color: #fff;
    position: relative;
    z-index: 0;
}

.container {
    width: 800px;
    height: 180px;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #242274;
}

.clock {
    width: 100%;
    height: 100%;
    background-color: rgba(235, 0, 255, 0.11);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(40px);
}

.container::before {
    content: '';
    width: 180px;
    height: 180px;
    background: #15bbb3;
    border-radius: 5px;
    position: absolute;
    top: -50px;
    left: -50px;
    z-index: -1;
}

.container::after {
    content: '';
    width: 180px;
    height: 180px;
    background: #c1d019;
    border-radius: 50%;
    position: absolute;
    bottom: -50px;
    right: -40px;
    z-index: -1;
}

.clock span {
    font-size: 80px;
    width: 110px;
    display: inline-block;
    text-align: center;
    position: relative;

}

.clock span::after {
    font-size: 16px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
}

#hrs::after {
    content: 'HOURS';
}

#min::after {
    content: 'MINUTES';
}

#sec::after {
    content: 'SECOND';

}
